{
  "policy": {
    "phases": {
      "hot": {
        "actions": {
          "rollover": {
            "max_size": "{{ event_ilm_rollover }}"
          }
        }
      },
      "delete": {
        "min_age": "{{ event_ilm_index_age }}",
        "actions": {
          "delete": {}
        }
      }
    }
  }
}