default:

  elasticsearch:
    username: {{ app_user }}
    password: {{ es_app_password }}
    dynaconf_merge: true

  rabbitmq:
    username: {{ app_user }}
    password: {{ rmq_password }}
    dynaconf_merge: true