#!/bin/sh
ulimit -n 65536
exec 2>&1

source /etc/profile.d/{{ app_name }}.sh

exec chpst -u $SE_USER env LD_LIBRARY_PATH=${SE_EXT}/python3/embedded/lib/ ${SCH_BIN}/dramatiq dmq_actors 2>&1 >> ${SE_LOG}/scheduler/dmq_service_run.log
