#!/bin/sh
ulimit -n 65536
exec 2>&1

source /etc/profile.d/{{ app_name }}.sh

exec chpst -u $SE_USER env LD_LIBRARY_PATH=${SE_EXT}/python3/embedded/lib/ $SCH_BIN/python3.7 ${SCH_SITE_PACKAGES}/app/start_app.py 2>&1 >> ${SE_LOG}/scheduler/sch_service_run.log