#!/bin/sh

export EXECUTOR_MAX_TASKS_PER_CHILD={{ executor_max_tasks_per_child }}
export EXECUTOR_MAX_WORKERS={{ executor_max_workers }}
export EXECUTOR_MIN_WORKERS={{ executor_min_workers }}
export EXECUTOR_NUM_WORKERS={{ executor_num_workers }}