{
  "rabbit_version": "3.7.8",
  "users": [
    {
      "name": "{{ app_user }}",
      "password": "{{ rmq_password }}",
      "tags": "administrator"
    },
    {
      "name": "guest",
      "password": "{{ es_bootstrap_pass }}",
      "tags": "management"
    }
  ],
  "vhosts": [
    {
      "name": "/"
    }
  ],
  "permissions": [
    {
      "user": "fixstream",
      "vhost": "/",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    }
  ],
  "topic_permissions": [],
  "parameters": [],
  "policies": [],
  "queues": [
    {
      "name": "device-creation",
      "vhost": "/",
      "durable": true,
      "auto_delete": false,
      "arguments": {
        "x-message-deduplication": true
      }
    }
  ],
  "exchanges": [
    {
      "name": "ls-normalization-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "fx-resource-request",
      "vhost": "/",
      "type": "x-delayed-message",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {
        "x-delayed-type": "x-consistent-hash"
      }
    },
    {
      "name": "ls-cmdb-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "ls-nbrRenormalization-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "ls-renormalization-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "netra_exchange",
      "vhost": "/",
      "type": "topic",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "ls-postProcess-exchange",
      "vhost": "/",
      "type": "x-delayed-message",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {
        "x-delayed-type": "x-consistent-hash"
      }
    },
    {
      "name": "ls-persistence-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "resourceresponse",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "apptaskexchange",
      "vhost": "/",
      "type": "topic",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "ls-preProcess-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    },
    {
      "name": "ls-audit-exchange",
      "vhost": "/",
      "type": "x-consistent-hash",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {}
    }
  ],
  "bindings": [
    {
      "source": "apptaskexchange",
      "vhost": "/",
      "destination": "netra_exchange",
      "destination_type": "exchange",
      "routing_key": "slavescheduler.na.na.na.na",
      "arguments": {}
    },
    {
      "source": "fx-resource-request",
      "vhost": "/",
      "destination": "device-creation",
      "destination_type": "queue",
      "routing_key": "1",
      "arguments": {}
    }
  ]
}