{
 "apps": [
   {
     "name": "coordinate-calculator",
     "script": "./index.js",
     "watch": true,
     "cwd": "{{ na_base_dir }}/current",
     "pid_file": "{{ na_pid_file }}",
     "error_file": "{{ na_err_log }}",
     "out_file":  "{{ na_out_log }}"
   }
 ]
}